* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  position: absolute;
  min-width: 100vw;
  background-color: rgba(49, 55, 210, 1);
  height: 15vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-container {
  display: flex;
  margin: auto auto auto 15vw;
}

.btn1-anim {
  opacity: 0;
  animation: bounceInDown;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.btn2-anim {
  opacity: 0;
  animation: bounceInDown;
  animation-duration: 1.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.btn3-anim {
  opacity: 0;
  animation: bounceInDown;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.nav-btn {
  margin: 15% 25% 15% 0;
  transition: transform 0.5s;
}

.nav-btn:hover {
  transform: scale(1.2);
}

.nav-link {
  color: white;
  text-decoration: none;
}

.first-text {
  position: absolute;
  top: 40vh;
  left: -45vw;
  animation: slideFromLeft 1.5s ease 2s;
  animation-fill-mode: forwards;
}

.big {
  font-weight: bold;
  font-size: 4rem;
  margin: 2% 0;
}

.profile-img img {
  max-width: 20vw;
  opacity: 0;
  position: absolute;
  left: 65vw;
  top: 35vh;
  border-radius: 50%;
  animation: appear 2s ease 3s;
  animation-fill-mode: forwards;
}

.hire-btn-container {
  position: absolute;
  top: 70vh;
  left: 30vw;
  opacity: 0;
  animation: appear 2s ease 4s;
  animation-fill-mode: forwards;
  transition: transform 0.5s;
}

.hire-btn-container:hover {
  transform: scale(1.1);
}

.hire-btn {
  background-color: rgba(49, 55, 210, 1);
  padding: 0.5rem 0rem;
  border-radius: 1rem;
  width: 9vw;
  color: white;
  cursor: pointer;
  box-shadow: -5px 5px 3px grey;
  border: none;
}

.hire-btn:focus {
  outline: none;
}

.second-body {
  display: flex;
  top: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(49, 55, 210, 1),
    rgba(49, 55, 210, 0.8)
  );
}

.stock-img {
  margin: 8.5rem 0 0 4rem;
}
.stock-img img {
  border-radius: 1rem;
}

.second-text {
  color: white;
  position: absolute;
  top: 20vh;
  left: 59vw;
}

.about-options {
  position: absolute;
  top: 40vh;
  left: 57vw;
}

.about-options ul li {
  display: inline;
}

.about-options-button {
  font-weight: 500;
  background: transparent;
  border: none;
  color: white;
  margin: 0 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.about-options-button button {
  transition: text-decoration 2.5s;
}

.about-options-button:focus {
  outline: none;
  text-decoration: underline;
}
.about-options-button:active {
  text-decoration: underline;
}

#life {
  text-decoration: underline;
}

.about-paragraph {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 1);
  line-height: 2rem;
  color: rgba(49, 55, 210, 1);
  position: relative;
  max-width: 42vw;
  max-height: 25vh;
  margin: 1rem 4rem;
  padding: 1rem;
  top: 50vh;
  box-shadow: -5px 5px 3px black;
  border-radius: 1rem;
  overflow: hidden;
}

.third-body {
  display: flex;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  top: 200vh;
}

.portfolio-header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  min-width: 100vw;
}

.card-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-evenly;
  min-width: 100vw;
  min-height: 100vh;
  flex-wrap: wrap;
}

.card {
  display: flex;
  position: relative;
  flex-basis: 30vw;
  max-height: 13vh;
}

#capture-image {
  width: 35vw;
  box-shadow: -5px 5px 5px gray;
  border-radius: 1rem;
  border: 0.5px solid rgb(49, 55, 210);
}

#music-image {
  width: 35vw;
  box-shadow: -5px 5px 5px gray;
  border-radius: 1rem;
  border: 0.5px solid rgb(49, 55, 210);
}

#ignite-image {
  width: 35vw;
  box-shadow: -5px 5px 5px gray;
  border: 0.5px solid rgb(49, 55, 210);
  border-radius: 1rem;
}

#card1 {
  margin-top: 21vh;
  margin-left: auto;
  transition: transform 0.7s;
}

#card1:hover {
  transform: scale(1.1);
}

#card2 {
  margin-top: 21vh;
  margin-right: auto;
  margin-left: auto;
  transition: transform 0.7s;
}

#card2:hover {
  transform: scale(1.1);
}

#card3 {
  margin-top: 1rem;
  transition: transform 0.7s;
}

#card3:hover {
  transform: scale(1.1);
}

.fourth-body {
  display: flex;
  top: 300vh;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(49, 55, 210, 1),
    rgba(49, 55, 210, 0.8)
  );
}

.contact-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto auto;
  border: 1px solid red;
  flex-basis: 30vw;
}

#email {
  margin: auto auto;
}

.topBtn {
  position: fixed;
  right: 0;
  bottom: 5vh;
}

.topBtn button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(192, 192, 192, 1);
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid white;
}

/* 2778x1284 pixels at 458ppi -- iPhone 12 Pro Max --*/
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  * {
    overflow-x: hidden;
  }
}

/* Animations */

@keyframes slideFromLeft {
  0% {
    left: -45%;
  }
  100% {
    left: 15%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
